/* Mixins */
@mixin clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin breakpoint($min-width, $max-width: false) {
  @if $min-width > 0 and $max-width != false {
    @media only screen and (min-width: $min-width) and (max-width: $max-width) {
      @content
    }
  } @else if $min-width == 0 and $max-width != false {
    @media only screen and (max-width: $max-width) {
      @content
    }
  } @else if $min-width > 0 and $max-width == false {
    @media only screen and (min-width: $min-width) {
      @content
    }
  } @else {
    @content
  }
}

@mixin container($container-width) {
  @if $container-width > 0 {
    max-width: $container-width;
  } @else {
    max-width: 100%;
  }
}

@mixin make-col($size, $columns: $grid-columns) {
  flex: 0 0 percentage($size / $columns);
  max-width: percentage($size / $columns);
}

@mixin make-offset($size, $columns: $grid-columns) {
  margin-left: percentage($size / $columns);
}

@mixin hidden {
  display: none;
  visibility: hidden;
}

@mixin link-reset($color: inherit) {
  color: $color;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $color;
    text-decoration: none;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  height: 100%;
}

@mixin image-box($object-fit: cover) {
  position: relative;

  display: inline-block;
  overflow: hidden;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-width: 30px;
  max-width: 100%;
  height: auto;
  min-height: 30px;

  vertical-align: top;

  font-size: 0;

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;

    -o-object-fit: $object-fit;
    object-fit: $object-fit;
  }
}

@mixin list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin bg-contain {
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  background-position: 50% 50%;
}

@mixin bg-repeat {
  background-repeat: repeat;
  background-size: auto;
  -webkit-background-size: auto;
  background-position: 0 0;
}

@mixin btn($color: $light, $bg-color: $primary, $border-color: transparent, $border-radius: 4px, $text-transform: none) {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 10px 30px;
  color: $color;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $bg-color;
  font-family: $text-font-family;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 700;
  text-transform: $text-transform;
  transition: opacity .15s ease-in-out, color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
    color: $color;
    opacity: 0.9;
  }
}