/* Variables */
$heading-font-family: "Gotham Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol";
$text-font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol";
$font-stack-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$border-radius: 4px;

// Colors
//
// Color system

$primary: #F7941E;
$secondary: #003C3D;
$accent: $primary;
$white: #fff;
$red: #F04A52;
$red-100: #FFE9EA;
$red-200: #8A004B;
$red-300: #8A0032;
$blue: #245CC1;
$blue-100: #E5EFFF;
$blue-200: #00488A;
$blue-300: #002F8A;
$green: #00888A;
$green-100: #D1E8E9;
$green-200: #4D8A00;
$green-300: #008A69;
$green-400: #5E8A00;
$green-500: #00718A;
$orange: $primary;
$orange-100: #FBEAD5;
$purple: #3D008A;
$purple-100: #F0E3FF;
$purple-200: #66008A;
$success: $green;
$disabled: #dddde6;
$text: #1C1C1C;
$error: $red;
$grey: #424242;
$grey-100: #f7f8f9;
$grey-background: #f3f3f9;
$grey-border: #e7e7f0;
$grey-text: #898890;
$dark: #21212B;
$light: $white;

$color-map: (
        primary: $primary,
        secondary: $secondary,
        success: $success,
        error: $error,
        disabled: $disabled,
        white: $white,
        light: $grey,
        background: $grey-background,
        border: $grey-border,
        grey: $grey-text,
        dark: $dark,
);

// Grid breakpoints
//
// Grid breakpoints

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 767px,
        lg: 1024px,
        xl: 1230px,
);

// Grid container
//
// Max widths of container for different breakpoints

$container-max-widths: (
        //xs: 0,
        //sm: 540px,
        //md: 720px,
        //lg: 960px,
        //lg: 100%,
        xl: 1230px,
);

//Breakpoints
$xs: 0;
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1229px;


$container-max-widths-wide: 1530px;

// Grid container
//
// Max widths of container for different breakpoints

$grid-gutters: 30px;
$grid-columns: 12;

// Header
//
// Height of header (useful for fixed headers)

$header-height: 60px;

// Assets URL
//
// Relative or absolute URL where all assets are served from
$base-url: "../../assets/";

// Links
//
// Basic styles for links

$link-color: $accent;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

// Gradient
$primary-gradient: linear-gradient(183.05deg, rgba(17, 16, 30, 0.78) -16.57%, rgba(242, 6, 47, 0) 41.64%, rgba(30, 15, 31, 0.28) 97.47%), $primary;
$body-gradient: radial-gradient(95.13% 25.1% at 88.62% 81.8%, rgba(255, 255, 255, 0.052) 0%, rgba(33, 33, 43, 0) 100%), radial-gradient(32.06% 8.65% at 69.4% 57.7%, rgba(255, 255, 255, 0.052) 0%, rgba(33, 33, 43, 0) 100%), radial-gradient(44.12% 10.8% at 50.94% 50.3%, rgba(255, 255, 255, 0.052) 0%, rgba(33, 33, 43, 0) 100%), radial-gradient(51.6% 11.8% at 74.19% 33.43%, rgba(255, 255, 255, 0.065) 0%, rgba(33, 33, 43, 0) 100%), radial-gradient(32.02% 7.32% at 27.92% 22.49%, rgba(255, 255, 255, 0.065) 0%, rgba(33, 33, 43, 0) 100%), radial-gradient(55.73% 15.04% at 98.13% 13.04%, rgba(255, 255, 255, 0.065) 0%, rgba(33, 33, 43, 0) 100%), radial-gradient(48.02% 12.96% at 27.97% 3.37%, rgba(255, 255, 255, 0.13) 0%, rgba(33, 33, 43, 0) 100%), linear-gradient(0deg, #0D0C1B, #0D0C1B), #C4C4C4;

// Box Shadow
$box-shadow-primary: 0px 4px 20px rgba(45, 53, 82, 0.18);