/* Global style declarations */
html {
  box-sizing: border-box;
}

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*::before,
*::after,
* {
  box-sizing: border-box;
}

body {
  font-family: Manrope;
  margin: 0;
  padding: 0;
}

#site {
  //overflow-y: hidden;
}

.site-content {
  //padding-bottom: 40px;
}

.elementor-section {
  //overflow-y: hidden;
}


hr {
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid theme(border);
}

img {
  vertical-align: middle;

}

.main-mail {
  color: #EFAF84;
  border-bottom: 1px solid #EFAF84;
}

.mob-only {
  display: none;

  @media (max-width: 1400px) {
    display: block !important;
    margin-bottom: 30px;
  }
}