/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

body {
  font-family: Manrope, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.main-title,
.main-subtitle,
.heading,
.subheading,
.title,
.subtitle,
.caption {
  margin: 0 0 15px;
  font-weight: 700;
  font-family: $heading-font-family;
  line-height: 1.1;
}


.main-title {
  margin: 0 0 15px;
  letter-spacing: -0.02em;
  font-weight: 900;
  font-size: 120px;

  @include breakpoint(0, $xl) {
    font-size: 100px;
  }

  @include breakpoint(0, $lg) {
    margin-bottom: 25px;
    font-size: 80px;
  }

  @media (max-width: 380px) {
    font-size: 60px;
  }
}

.main-subtitle {
  margin: 0 0 40px;
  font-size: 50px;
  font-weight: 300;

  @include breakpoint(0, $lg) {
    font-size: 40px;
  }

  @include breakpoint(0, $md) {
    font-size: 36px;
  }
}

h1,
h2,
.heading {
  margin: 0 0 30px;
  font-size: 68px;
  font-weight: 900;

  @include breakpoint(0, $lg) {
    font-size: 56px;
  }

  @include breakpoint(0, $md) {
    margin-bottom: 15px;
    font-size: 36px;
  }

  @media (max-width: 400px) {
    font-size: 30px;
  }
}

.subheading {
  margin: 0 0 5px;
  font-size: 36px;
  font-weight: 400;

  @include breakpoint(0, $lg) {
    font-size: 30px;
  }

  @include breakpoint(0, $md) {
    font-size: 25px;
  }
}


h3,
.title {
  margin-bottom: 20px;
  font-size: 1.5rem;

  @include breakpoint(0, $lg) {
    font-size: 1.375rem;
  }

  @include breakpoint(0, $md) {
    font-size: 1.25rem;
  }
}

h4,
.subtitle {
  margin: 0 0 20px;
  font-size: 1.125rem;
  font-weight: 400;
}

h5,
.caption {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

b,
strong {
  font-weight: 700;
}

.icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  @media (max-width: 1366px) {
    padding-left: 50px;
  }

  @include breakpoint(0, $md) {
    padding-left: 34px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -60px;
    margin-top: -18px;
    width: 36px;
    height: 36px;
    background-color: $primary;
    border-radius: 50%;

    @media (max-width: 1366px) {
      left: 0;
    }

    @include breakpoint(0, $md) {
      margin-top: -10px;
      width: 20px;
      height: 20px;
    }
  }

  &--light {

    &:before {
      background-color: $light;
    }

  }

}

.elementor-text-editor {

  p {

    &:last-child {
      margin-bottom: 0;
    }

  }

}

body {
  margin: 0;
  color: #fff;
  font-weight: 300;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1600px;
  width: 100%;

  //&.mod-pad {
  //  padding: 0;
  //}

  //&.about__container {
  //  max-width: 100%;
  //  padding: 0;
  //}

  @media (max-width: 1600px) {
    max-width: 1440px;
  }

  @media (max-width: 1440px) {
    max-width: 1305px;
  }
}


.heading {
  font-family: Manrope;
  //color: #000;
  color: #000;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;

  @media (max-width: 992px) {
    font-size: 30px;
  }
}

.subheading {
  font-family: Manrope;
  position: relative;
  padding-left: 16px;
  //color: #000;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.4;


  @media (max-width: 992px) {
    font-size: 18px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    //background: linear-gradient(180deg, #02C785 0%, #02BE8C 14.97%, #03A79F 38.96%, #0481BE 68.97%, #0652E4 100%)
    background-color: #fff;
  }
}

.submit {
  font-weight: 500;
  &:hover {
    //background: linear-gradient(270deg, #02C785 0%, #02BE8C 14.97%, #03A79F 38.96%, #0481BE 68.97%, #0652E4 100%);
    background-color: #04338f;
    color: #fff;
  }
  &:active {
    color: #fff;
    //background: linear-gradient(270deg, #003BAC 49.48%, #02BE7F 100%);
    background-color: #011a43;
  }
}

.title {
  font-family: Manrope;
  margin: 0 0 40px 0;
  font-size: 60px;
  font-weight: 300;
  line-height: 1;
}

.caption {
  font-family: Manrope;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  color: #6A6A6A;
}

.text {
  font-family: Manrope;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  & span {
    display: block;
    margin-bottom: 5px;
  }

  & span:last-child {
    margin-bottom: 0;
  }
}

* {
  box-sizing: border-box; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  //color: inherit;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.amount {
  font-family: Manrope;
  font-size: 60px;
  font-weight: 300;
  line-height: 1.2;
}

.outline {
  font-family: Manrope;
  font-weight: 300;
  font-size: 30px;
  left: 0;
}

.link {
  font-family: Manrope;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  z-index: 1;

  line-height: 1;
  letter-spacing: 0.03em;
  color: #000;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 127px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='127' height='13' viewBox='0 0 127 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6L125 6.00001' stroke='%230652E4'/%3E%3Cpath d='M127 6.5L117.25 12.1292L117.25 0.870835L127 6.5Z' fill='%230652E4'/%3E%3C/svg%3E%0A");
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    //display: none;
    width: 0;
    height: 10px;
    z-index: 5;
    background-color: transparent;
    transition: width 0.5s ease-in-out;
  }

  &:hover::before {
    //display: block;
    width: 40px;
    transition: width 1s ease-in-out;
  }

  &:hover::after {
    margin-left: 43px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='13' viewBox='0 0 84 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.5L81.5 6.50001' stroke='url(%23paint0_linear)' stroke-width='2'/%3E%3Cpath d='M74.75 1.73686L83 6.5L74.75 11.2631L74.75 1.73686Z' fill='url(%23paint1_linear)' stroke='url(%23paint2_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0.0028361' y1='6.5' x2='81.5017' y2='6.50002' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230652E4'/%3E%3Cstop offset='0.481222' stop-color='%2302BE8C'/%3E%3Cstop offset='1' stop-color='%2302C785'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='77.5006' y1='0.000452242' x2='77.5006' y2='13.0003' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230652E4'/%3E%3Cstop offset='0.481222' stop-color='%2302BE8C'/%3E%3Cstop offset='1' stop-color='%2302C785'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='77.5006' y1='0.000452242' x2='77.5006' y2='13.0003' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230652E4'/%3E%3Cstop offset='0.481222' stop-color='%2302BE8C'/%3E%3Cstop offset='1' stop-color='%2302C785'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  }


}