
.about {
  position: relative;
  //overflow: hidden;

  @media (max-width: 992px) {
    overflow: hidden;
  }

  &__container {

  }

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    margin-bottom: 60px;
    //background: #DCE6F5;

    &__wrap {
      background: #DCE6F5;
    }

    /*&:before {
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 5000px;
      height: 100%;
      margin-left: -2500px;
      content: "";
      background: #DCE6F5;
      z-index: -1;
    }*/
  }

  &__right {
    position: relative;
    padding: 0 56px 0 0;
    z-index: 1;
  }

  &__left {
    width: 45%;
    order: 2;

    @media (max-width: 992px) {
      width: 60%;
    }

    @media (max-width: 768px) {
      margin-right: 20px;
      min-width: 60%;
    }

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  &__caption {
    font-weight: 800;
    font-size: 16px;
  }

  &__heading {
    margin-bottom: 30px;
    width: 75%;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }

    @media (max-width: 576px) {
      width: 100%;
    }

    & span {
      color: #0652E4;
    }
  }

  &__subheading {
    margin-bottom: 30px;
    color: #000;

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
    
    &:after {
      background-color: #0652E4;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
  }

  &__img {
    width: 100%;

    @media (max-width: 576px) {
      display: none;
    }
  }

  &__features {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    filter: drop-shadow(5px 10px 15px rgba(203,221,255, 1));


    @media (max-width: 992px) {
      justify-content: space-between;
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__elem {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28%;
    padding: 40px 50px;
    margin-bottom: 20px;
    margin-right: 30px;
    background-color: #fff;
    clip-path: polygon(0% 0%, 75% 0%, 100% 23%, 100% 100%, 0% 100%);
    box-shadow: 5px 10px 15px #CBDDFF;
    overflow: hidden;



    @media (max-width: 992px) {
      min-width: 32%;
      margin-right: 10px;
    }

    @media (max-width: 768px) {
      min-width: 48%;
      margin-right: 10px;
    }

    @media (max-width: 576px) {
      min-width: 70%;
    }

    @media (max-width: 420px) {
      min-width: 100%;
    }

    &:hover {
      background: linear-gradient(182.73deg, #FFFFFF -13.84%, rgba(255, 255, 255, 0.483393) 68.91%, rgba(255, 255, 255, 0) 116.21%), #0652E4;
    }

  }

  &__icon {
    width: 60px;
    height: 60px;
    margin-bottom: 25px;

    &-wrapper {
      width: 100%;
      height: 13px;
    }
  }

  &-icon {
    width: 60px;
    height: 60px;
  }

  &__title {
    font-family: Manrope;
    width: 80%;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.03em;
    color: #000;
  }

  &__subtitle {
    height: 57px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    color: #6A6A6A;
  }

  //&__link {
  //  position: relative;
  //  display: inline-block;
  //  padding-bottom: 10px;
  //  font-weight: 600;
  //  font-size: 14px;
  //
  //  line-height: 1;
  //  letter-spacing: 0.03em;
  //  color: #000;
  //
  //  &::after {
  //    content: "";
  //    position: absolute;
  //    bottom: 0;
  //    left: 0;
  //    width: 127px;
  //    height: 13px;
  //    background-image: url("data:image/svg+xml,%3Csvg width='127' height='13' viewBox='0 0 127 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6L125 6.00001' stroke='%230652E4'/%3E%3Cpath d='M127 6.5L117.25 12.1292L117.25 0.870835L127 6.5Z' fill='%230652E4'/%3E%3C/svg%3E%0A");
  //  }
  //
  //  &::before {
  //    content: "";
  //    position: absolute;
  //    left: 0;
  //    bottom: 0;
  //    //display: none;
  //    width: 0;
  //    height: 10px;
  //    z-index: 1;
  //    background-color: #fff;
  //    transition: width 0.5s ease-in-out;
  //  }
  //
  //  &:hover::before {
  //    //display: block;
  //    width: 40px;
  //    transition: width 1s ease-in-out;
  //  }
  //
  //  &:hover::after {
  //    background-image: url("data:image/svg+xml,%3Csvg width='127' height='13' viewBox='0 0 127 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M0 6.5L123.22 6.50001' stroke='url(%23paint0_linear)' stroke-width='2'/%3E%3Cpath d='M117 2L126 7.00002L117 12V2Z' fill='url(%23paint1_linear)' stroke='url(%23paint2_linear)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0.00428791' y1='6.5' x2='123.223' y2='6.50005' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230652E4'/%3E%3Cstop offset='0.481222' stop-color='%2302BE8C'/%3E%3Cstop offset='1' stop-color='%2302C785'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='120.001' y1='0.177237' x2='120.001' y2='13.8236' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230652E4'/%3E%3Cstop offset='0.481222' stop-color='%2302BE8C'/%3E%3Cstop offset='1' stop-color='%2302C785'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='120.001' y1='0.177237' x2='120.001' y2='13.8236' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230652E4'/%3E%3Cstop offset='0.481222' stop-color='%2302BE8C'/%3E%3Cstop offset='1' stop-color='%2302C785'/%3E%3C/linearGradient%3E%3CclipPath id='clip0'%3E%3Crect width='127' height='13' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  //  }
  //
  //
  //}

  &__elem__mod {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28%;
    padding: 40px 50px;
    margin-bottom: 20px;
    margin-right: 30px;
    background-color: #fff;
    -webkit-clip-path: polygon(23% 0%, 100% 0, 100% 75%, 75% 100%, 0 100%, 0% 23%);
    clip-path: polygon(23% 0%, 100% 0, 100% 75%, 75% 100%, 0 100%, 0% 23%);
    box-shadow: 5px 10px 15px #cbddff;
    overflow: hidden;
  }

  &__features-img {

  }

  &__features-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__decor__arrow {
    position: absolute;
    top: 0;
    left: 0;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__decor {
    display: none;
    position: absolute;
    //left: 0;
    //top: -600px;
    //right: -781px;
    top: -1235px;
    z-index: 1;
  }

  /*&__png {
    width: 805px;
  }*/
}