.consult {

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;

    @media (max-width: 576px) {
      padding-top: 20px;
    }
  }

  &__right {
    margin-right: 20px;
  }

  &__content {
    padding-top: 20px;
    max-width: 50%;

    @media (max-width: 768px) {
      max-width: 70%;
    }

    @media (max-width: 576px) {
      max-width: 100%;
    }
  }

  &__heading {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #6A6A6A;
  }

  &__right {
    @media (max-width: 992px) {
      max-width: 40%;
    }

    @media (max-width: 768px) {
      display: none;
    }

    & img {
      width: 100%;
    }
  }

  &__bg {
    position: absolute;
    right: 0;
    top: -320px;
    z-index: -1;
  }


  &-dif {
    display: none;

    &__container {
      width: 50%;
    }

    &__heading {
      width: 60%;
    }
  }
}