.exp {
  background-color: #E6ECF5;

  &__container {
    padding-bottom: 60px;
  }

  &__content {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    margin-bottom: 16px;

    @media (max-width: 576px) {
      padding-top: 20px;
    }
  }

  &__left {
    width: 45%;
    padding-top: 50px;
    text-align: center;

    @media (max-width: 992px) {
      width: 60%;
    }

    @media (max-width: 768px) {
      margin-right: 20px;
      min-width: 60%;
    }

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  &__caption {
    font-weight: 800;
    font-size: 16px;
    color: #6A6A6A;
  }

  &__heading {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    max-width: 66%;
    //padding-left: 50px;
    text-align: center;

    &:after {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      width: 32px;
      height: 4px;
      background-color: #0652E4;
    }

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }

    @media (max-width: 576px) {
      width: 100%;
    }

    & span {
      color: #0652E4;
    }
  }

  &__subheading {
    margin-bottom: 30px;
    color: #000;

    &:after {
      display: none;
    }

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  &__list {
    display: flex;
    //overflow: hidden;
    padding: 20px 1px;
  }

  &__elem {
    background: white;
    color: #000;
    border-radius: 4px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
  }

  &__title {
    color: #000;
  }

  &__page {
    position: relative;
    padding: 0 20px 20px 20px;
    box-shadow: 5px 10px 15px #CBDDFF;
    text-align: center;
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    //margin-bottom: 20px;
  }

  &__tag {
    position: relative;
    padding: 7px 12px;
    border: 1px solid #CEDFF7;
    border-radius: 4px;
    border-image-slice: 1;
    color: #000;
    font-weight: 600;
    font-size: 12px;

    &:not(:first-child) {
      margin-left: 4px;
    }

    &:hover {
      border-width: 2px;
      padding: 1px 19px;
      border-image-source: linear-gradient(270deg, #02C785 0%, #02BE8C 14.97%, #03A79F 38.96%, #0481BE 68.97%, #0652E4 100%)
    }

    &:active {
      border-image-source: linear-gradient(90deg, #003BAC 49.48%, #02BE7F 100%);
    }



  }

  &__time {
    position: absolute;
    top: -34px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    padding: 7px 10px;
    font-weight: 500;
    font-size: 15px;
    color: #000;
    background-color: white;
  }

  &__title-box {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;


    &:hover .exp__title {

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        background: linear-gradient(90deg, #02C785 0%, #02BE8C 14.97%, #03A79F 38.96%, #0481BE 68.97%, #0652E4 100%);
      }
    }

    &:active .exp__title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
      background: linear-gradient(270deg, #02C785 0%, #02BE8C 14.97%, #03A79F 38.96%, #0481BE 68.97%, #0652E4 100%);

    }

  }


  &__text {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: #6A6A6A;
  }

  &__link {
    display: inline-block;
    padding-bottom: 12px;
    width: 80px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #000;
    background-image: url("../assets/images/arrow.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;

    &.mod-v1 {
      justify-content: flex-end;
      margin-right: 10px;
    }
    .statistics__prev, .statistics__next {
      display: flex;
      width: 40px;
      height: 40px;
      background-color: red;
      border-radius: 4px;
      margin-left: 10px;

      img {
        width: 16px;
        height: 16px;
        margin: auto;
      }
    }
  }
  
  &__prev, &__next {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;

    img {
      width: 8px;
      height: 19px;
      margin: auto;
    }
  } 

}