.homepage {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    //background: linear-gradient(269.76deg, #FFFFFF -0.23%, rgba(255, 255, 255, 0.2) 127.03%), #0652E4;
    background-color: #1464D7;
  }


  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 40px;
    z-index: 5;

    @media (max-width: 576px) {
      padding-bottom: 0;
    }

    &--error {
      padding-top: 20px;
      align-items: flex-start;

      @media (max-width: 992px) {
        padding-top: 60px;
      }
    }
  }

  &__left {
    width: 49%;
    padding-top: 100px;
    z-index: 2;

    @media (max-width: 992px) {
     width: 60%;
    }

    @media (max-width: 576px) {
      width: 100%;
      margin-right: 15px;
    }

    &--error {
      width: 40%;
      padding-top: 150px;
      z-index: 2;

      @media (max-width: 992px) {
        width: 60%;
        padding-top: 100px;

      }

      @media (max-width: 576px) {
        width: 100%;
      }
    }
  }

  &__count {
    font-family: Manrope;
    font-weight: 800;
    font-size: 60px;
    color: #0652E4;
  }

  &__heading {
    width: 70%;
    margin-bottom: 40px;

    @media (max-width: 1200px) {
      width: 100%;
    }

    @media (max-width: 768px) {
      margin-bottom: 25px;
    }
  }

  &__subheading {
    margin-bottom: 35px;

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-bottom: 25px;
    color: #ffffff;

    &--error {
      width: 77%;
      font-width: 500;
    }
  }

  &__link {
    display: inline-block;
    padding: 18px 38px;
    margin-bottom: 80px;
    //color: #000;
    color: #1464D7;
    font-size: 18px;
    //background: linear-gradient(90deg, #02C785 0%, #02BE8C 14.97%, #03A79F 38.96%, #0481BE 68.97%, #0652E4 100%);
    background-color: #fff;
    border-radius: 4px;

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  &__main-img {
    margin-bottom: 60px;
    max-width: 40%;
    z-index: 2;

    @media (max-width: 576px) {
      display: none;
    }

    &--error {
      max-width: 60%;
    }

    & .homepage__img {
      width: 100%;
      height: auto;
    }
  }

  &__decor {
    position: absolute;
    top: 100px !important;
    opacity: 0.7;
  }
}