.statistics {

  &__container {
    padding-left: 15px;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 90px;

    @media (max-width: 576px) {
      padding-top: 90px;
    }
  }

  &__page {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  &__right {
    position: relative;
    width: 52%;
    margin-right: 36px;
    //margin: 0 40px 0;
    //
    //&::after {
    //  content: '';
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  width: 1612px;
    //  height: 498px;
    //  background: red;
    //}

    @media (max-width: 1600px) {
      width: 58%;
    }

    @media (max-width: 1440px) {
      width: 52%;
    }

    @media (max-width: 1200px) {
      width: 28%;
    }

    @media (max-width: 992px) {
      width: 300px;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__caption {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 16px;
    color: #6A6A6A;
  }


  &__heading {
    margin-bottom: 20px;

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }

    & span:last-child {
      color: #0652E4;
    }

    &.mod-v1 {
      padding-left: 10px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #6A6A6A;
  }


  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    z-index: 1;
  }

  &__elem {

    @media (max-width: 768px) {
      width: 31%;
      margin-right: 10px;
      margin-bottom: 30px;
    }

    @media (max-width: 576px) {
      width: 45%;
    }

    & img {
      width: 100%;

    }

    &__content {
      //box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
      //border-radius: 4px;
      padding: 0 15px 15px 15px;
      margin: 10px 10px 20px;
      //width: 30%;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    }
  }

  &__photo {
    //height: 378px;
    //height: 400px;
    //max-width: 400px;
    ////max-width: 400px;
    //margin-right: 0;

 /*   @media (max-width: 1440px) {
      width: 300px;
      height: 300px;
    }

    @media (max-width: 576px) {
      width: 400px;
      height: 400px;
    }

    @media (max-width: 420px) {
      width: 300px;
      height: 300px;
    }*/

   /* &--prime {
      background-image: url("../assets/images/cornelius.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 120%;
    }

    &--second {
      background-image: url("../assets/images/eugen.jpg");
      background-position: center center;
      background-size: 100%;
    }

    &--third {
      background-image: url("../assets/images/timur.jpg");
      background-position: center center;
      background-size: 100%;
    }*/

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }



  &__desc {
    width: 48%;
    margin-right: 30px;

    @media (max-width: 768px) {
      width: 100%;
      margin-top: 30px;
    }
  }

  &__map {
    margin-top: 35px;
    width: 95%;

    @media (max-width: 1440px) {
      margin-top: 30px;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    & img {
      width: 100%;
    }
  }

  &__title {
    padding: 28px 0 15px 0;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #000;



    @media (max-width: 1440px) {
      display: flex;
      flex-direction: column;
      font-size: 20px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }

    & span:last-child {
      display: block;
      color: #0652E4;
      font-size: 16px;
    }
  }

  &__decor-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 8px;
    background: #0652E4;
    border-radius: 0 0 4px 4px;
  }
}