.works {
  position: relative;

  &__content {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 90px;
  }

  &__page {
    display: flex;

    &__block {
      max-width: 630px;
      margin-top: auto;
      padding: 0 0 60px 137px;

      @media (max-width: 576px) {
        padding: 0 0 60px 0;
      }
    }

    @media (max-width: 576px) {
      padding-top: 0;
    }

    & .works__text {
      //width: 40%;

      @media (max-width: 576px) {
        width: 100%;
      }
    }
  }

  &__caption {
    font-family: Manrope;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 16px;
    color: #6A6A6A;
  }


  &__heading {
    margin-bottom: 20px;

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }

    & span:last-child {
      color: #0652E4;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #6A6A6A;
  }

  &__trait {
    //position: absolute;
    //right: 0;
    //top: 0;

    @media (max-width: 992px) {
      width: 45%;

      & img {
        width: 100%;
      }
    }

    @media (max-width: 576px) {
      display: none;
    }

  }

  &__swiper-container {
    //margin-top: 200px;

    @media (max-width: 576px) {
      margin-top: 0;
    }
  }

  &__list {
    display: flex;

    //justify-content: space-between;
    //flex-wrap: wrap;
    align-items: stretch;
    padding-bottom: 20px;
    filter: drop-shadow(5px 10px 15px rgba(203,221,255, 1));

    @media (max-width: 992px) {
      justify-content: flex-start;
    }

    @media (max-width: 768px) {
      justify-content: space-between;
    }

    @media (max-width: 576px) {
      padding-bottom: 0;
    }
  }

  &__elem {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 420px;

    //width: 23%;
    padding: 40px 50px 0;
    background-color: #fff;
    clip-path: polygon(0% 0%, 75% 0%, 100% 23%, 100% 100%, 0% 100%);
    box-shadow: 10px 10px 15px 0 rgba(203, 221, 255, 1);
    overflow: hidden;


    @media (max-width: 992px) {
      min-width: 40%;
      margin-right: 30px;
    }

    @media (max-width: 768px) {
      min-width: 48%;
      margin-right: 0;
    }

    @media (max-width: 576px) {
      min-width: 70%;
    }

    @media (max-width: 450px) {
      min-width: 100%;
    }


    &:nth-child(3) .works__title, &:nth-child(4) .works__title {
      margin-bottom: 42px;


      @media (max-width: 1100px) {
        margin-bottom: 15px;
      }
    }


  }



  &__count {
    font-family: Manrope;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: #0652E4;
  }

  &__title {
    font-family: Manrope;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    color: #000;
  }

  &__text {
    flex-grow:1;
    //font-size: 14px;
  }

  &__link {
    font-family: Manrope;
    display: inline-block;
    padding-bottom: 12px;
    width: 80px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    background-image: url("../assets/images/arrow.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  &__bg {
    position: absolute;
    top: -240px;
    left: 0;
    transform: rotate(180deg);
    z-index: -1;

    @media (max-width: 992px) {
      display: none;
    }
  }
}