.certificate {

  &__container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 60px;

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__page {
    width: 30%;
    order: 2;

    @media (max-width: 1440px) {
      min-width: 40%;
    }

    @media (max-width: 768px) {
      min-width: 45%;
    }

    @media (max-width: 576px) {
      width: 100%;
    }
  }


  &__desc {
    display: flex;
    width: 100%;

    @media (max-width: 576px) {
      flex-direction: column;
    }

  }

  &__heading {
    width: 100%;
    font-size: 40px;
    color: black;

    &__mod {
      color: #0652E4;
    }

    @media (max-width: 992px) {
      font-size: 30px;
    }


    @media (max-width: 576px) {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    width: 20%;
    margin-right: 78px;
    order: 1;

    @media (max-width: 1440px) {
      width: 30%;
    }

    @media (max-width: 576px) {
      margin-top: 30px;
      min-width: 100%;
      margin-bottom: 30px;
    }
  }



  &__list {
    display: flex;
    align-items: center;

    & li {
      //width: 30%;
      margin-right: 30px;

      //&:first-child {
      //  display: none;
      //
      //  @media (max-width: 576px) {
      //    display: block;
      //  }
      //}

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__right {
    margin-right: 30px;
    max-width: 30%;

    @media (max-width: 1440px) {
      max-width: 25%;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }

  &__left {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 291px;
      height: 412px;
      left: -20px;
      bottom: -7px;
      background: #DCE6F5;
      border-radius: 4px;
      z-index: -1;
    }
  }

  &__img {
    width: 100%;
  }

  &__main-img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 6px 25px #D7E5FF;

    &:hover {
      opacity: 0.7;
    }
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 500; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  padding-bottom: 30px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */


  &.active {
    display: block;
  }
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

#img01 {
  height: 100%;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}