.event {
  position: relative;
  max-height: 260px;
  background: linear-gradient(269.93deg, #FFFFFF -0.37%, rgba(255, 255, 255, 0.5) 99.94%), #0652E4;


  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
    padding: 35px 15px;

    @media (max-width: 576px) {
      margin-top: 50px;
    }
  }

  &__left {
    width: 48%;

    @media (max-width: 576px) {
      width: 100%;
    }

  }

  &__heading {
    width: 80%;
    margin-top: 15px;

    @media (max-width: 1200px) {
      width: 100%;
    }

    @media (max-width: 576px) {
      font-size: 25px;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 12px;
    width: 80px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    background-image: url("../assets/images/arrow.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }


  &__right {

    width: 50%;

    @media (max-width: 1250px) {
      width: 40%;
    }

    @media (max-width: 576px) {
      display: none;
    }

  }

  &__content {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    & img {
      max-width: 100%;
      height: 100%;
    }


    @media (max-width: 1250px) {

      & .event__img-right{
        display: none;
      }
    }
  }

  &__line {
    height: 100%;
    min-width: 30px;
  }

  &__bg {
    position: absolute;
    top: -160px;
    right: 0;
    z-index: -1;

  }
}