.footer {
  position: relative;
  padding-top: 150px;
  //margin-bottom: 10px;
  overflow: hidden;

  @media (max-width: 576px) {
    padding-top: 50px;
  }

  &__head__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 176px;
    background: #001431;

    @media (max-width: 992px) {
      padding: 10px;
      height: auto;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;

    //@media (max-width: 576px) {
    //
    //}
  }

  &__logo__wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 992px) {
      padding-bottom: 25px;
    }
  }

  &__logo {
    margin-right: 30px;



    //@media (max-width: 992px) {
    //  margin-right: 40px;
    //}
  }


  & .nav__list {

    @media (max-width: 576px) {
      flex-wrap: wrap;
    }
  }

  & .nav__elem {
    @media (max-width: 1100px) {
      margin-right: 25px;
    }

    @media (max-width: 576px) {
      min-width: 15%;
      margin-bottom: 10px;
    }
  }


  &__content {
    //margin-left: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1055px;
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;

    //-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 23%, 100% 100%, 0% 100%);
    //clip-path: polygon(0% 0%, 75% 0%, 100% 23%, 100% 100%, 0% 100%);
    box-shadow: 0 0 15px 0 #cbddff;

    @media (max-width: 992px) {
      margin-left: 78px;
    }

    @media (max-width: 576px) {
      margin-left: 0;
    }

  }

  &__text {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #6A6A6A;
  }

  &__form {
    width: 60%;

    @media (max-width: 992px) {
      width: 70%;
    }

    @media (max-width: 768px) {
      width: 90%;
    }

    @media (max-width: 576px) {
      width: 100%;
    }

  }

  &__bg {
    position: absolute;
    bottom: 13px;
    left: 94px;
    z-index: -1;
  }

  &__copyright {
    color: #4C5A6E;
    font-size: 16px;

    span {
      display: inline-block;

      &:not(:first-child) {
        position: relative;
        padding-left: 42px;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 21px;
          width: 2px;
          height: 25px;
          background-color: #4C5A6E;
        }
      }
      

    }

    &__line {
      padding: 0 20px;
    }
  }

  &__socials {

    & .socials__list {
      flex-direction: unset;
      justify-content: flex-end;

      @media (max-width: 576px) {
        margin-top: 40px;
      }
    }

    & .socials__elem {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}