.form {

  &-group {

    &--row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    & textarea {
      font-family: arial;
      width: 60%;
      padding: 12px 20px 80px;
      color: #6A6A6A;
      border: 1px solid #9CBDFE;
      background-color: transparent;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &__input {
    width: 49%;

    & input {
      width: 100%;
      padding: 12px 20px;
      margin-bottom: 25px;
      color: #6A6A6A;
      background-color: transparent;
      border: 2px solid #9CBDFE;
      border-radius: 4px;
    }
  }

  &__content  {
    width: 49%;

    & .form__input {
      width: 100%;
    }
  }

  &__textarea {
    width: 49%;

    & textarea {
      width: 100%;
      padding: 12px 20px 50px;
      background-color: transparent;
    }
  }

  &-group--checkbox {

    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;

    & input {
      width: 25px;
      height: 25px;
      border: 2px solid #9CBDFE;
    }

    & label {
      width: 75%;
      margin-left: 20px;
      color: #6A6A6A;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + label {
      position: relative;
      padding: 0 0 0 40px;
      cursor: pointer;
      margin-left: 0;
    }

    & + label::before {
      content: '✓';
      color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 600;
      width: 25px;
      height: 25px;
      background: transparent;
      border: 2px solid #9CBDFE;
      transition: .2s;

    }

    &:checked + label:before {
      color: #9CBDFE;
    }

  }

  &__submit__wrap {
    text-align: left;
  }

  &__submit {
    margin-top: 20px;
    padding: 18px 38px;
    font-weight: 500;
    font-size: 18px;
    //background: linear-gradient(90deg, #02C785 0%, #02BE8C 14.97%, #03A79F 38.96%, #0481BE 68.97%, #0652E4 100%);
    background-color: #0652E4;
    border: none;
    color: #FFFFFF;
  }

}

.upload-file__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.4px;
  height: 0.4px;
}

.upload-file__label {
  display: flex;
  align-items: center;
  border: 2px dashed #9CBDFE;
  border-image-slice: 1;
  padding: 9px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.upload-file__text {
  color: #6A6A6A;

  &--blue {
    margin-right: 5px;
    font-weight: 600;
    color: #0652E4;
  }

  &-mob {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.upload-file__label .upload-file__text,
.upload-file__label .upload-file__icon path {
  transition: .25s ease;
}


.upload-file__label:hover {
  //border-image-source: linear-gradient(270deg, #02C785 0%, #02BE8C 14.97%, #03A79F 38.96%, #0481BE 68.97%, #0652E4 100%)
  border-color: #000;
  border-style: solid;
}


/* drag and drop - ошибка */
.upload-file__label.error .upload-file__text {
  color: #d32f2f;
}
.upload-file__label.error .upload-file__icon path {
  fill: #d32f2f;
}
.upload-file__label.error {
  border: 2px dashed #d32f2f;
}

/* drag and drop - файл(ы) успешно перетянут(ы) */
.upload-file__label.drop .upload-file__text {
  color: #388e3c;
}
.upload-file__label.drop .upload-file__icon path {
  fill: #388e3c;
}
.upload-file__label.drop {
  border: 2px dashed #388e3c;
}

