.grat {
  display: none;


  &__container {
    position: relative;
    padding-bottom: 350px;
    padding-top: 60px;
    background-image: url("../assets/images/grat-bg.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    width: 38%;
  }

  &__content {
    width: 50%;
  }

  &__decor {
    position: absolute;
    right: 0;
    bottom: 0;

    & img {
      width: 100%;
    }
  }

}