.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 35px;
  }

  &__logo {
    margin-right: 100px;

    @media (max-width: 1440px) {
      margin-right: 70px;
    }

    @media (max-width: 768px) {
      margin-right: 80px;
    }

    @media (max-width: 400px) {
      margin-right: 40px;
    }

  }
}