.nav {
  &__list {
    display: flex;

    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
  }

  &__elem {
    position: relative;
    margin-right: 80px;
    padding-bottom: 3px;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    @media (max-width: 1440px) {
      margin-right: 35px;
    }

    @media (max-width: 992px) {
      margin-right: 15px;
    }

    @media (max-width: 576px) {
      margin-right: 40px;
      font-size: 14px;
    }

    @media (max-width: 400px) {
      margin-right: 15px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover .nav__link {

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        //background: linear-gradient(90deg, #02C785 0%, #02BE8C 14.97%, #03A79F 38.96%, #0481BE 68.97%, #0652E4 100%);
        background-color: #fff;
      }
    }

    &:active .nav__link::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
      //background: linear-gradient(270deg, #02C785 0%, #02BE8C 14.97%, #03A79F 38.96%, #0481BE 68.97%, #0652E4 100%);
      background-color: #fff;

    }
  }
}