.slider {
  margin-right: 77px;
  margin-top: 325px;
  min-width: 193px;

  @media (max-width: 1440px) {
    margin-right: 40px;
  }

  &__elem {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__point {
    min-width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #fff;

    &--active {
      background-color: #fff;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }


}