.socials {
  position: relative;
  bottom: 0;
  right: 0;
  //margin-bottom: 80px;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__elem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-bottom: 30px;

    &--insta {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }

    & svg {
      width: 20px;
      height: 20px;
      margin-bottom: auto;
      //fill: #0652E4;
      fill: #fff;
    }

    &:first-child svg {
      width: 8px;
    }

    &:hover svg {
      //fill: url(#linear);
      fill: #0652E4;
    }
  }
}

.footer__socials {
  .socials__elem {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;

    .socials__link {
      display: flex;
    }
  }

  & svg {
    width: 20px !important;
    height: 20px;
    margin: 10px 0 0 12px;
    fill: #0652E4;
  }

}
//.footer__socials .socials__link {
//  fill: #0652E4;
//}